.about-page {
  min-height: 60vh;
}

.about-img {
  max-width: 100%;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  /* mix-blend-mode: luminosity; */
  filter: grayscale(100%);
  overflow: hidden;
  transition: 2s;
}
.about-img:hover {
  transform: scale(1.05);
  mix-blend-mode: normal;
  filter: grayscale(0%);

}
p{
  font-family: 'Poppins', sans-serif;
    text-align: justify;
}
@media (max-width: 767px) {
  .about-page {
    text-align: center;
  }
  .about-img {
    margin-bottom: 1.5rem;
  }
}
.about-page h4{
  font-family: 'Poppins', sans-serif;
  position: relative;
text-align: left;
}
.about-page h4::after{
  content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: gray;
    bottom: -5px;
    left: 0;
}