.destinations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.destination-card {
  position: relative;
  width: 250px;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s;

  font-family: 'Poppins', sans-serif;
  filter: grayscale(100%);
}

.destination-card:hover {
  transform: scale(1.05);
  /* filter: grayscale(0%); */

}

.destination-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  padding: 1rem;
}

.destination-card:hover .destination-overlay {
  opacity: 1;
}

.destination-overlay h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.destination-overlay p {
  font-size: 1rem;
}
.desth4{
  font-family: 'Poppins', sans-serif;
position: relative;
}
/* .desth4::after{
  content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: gray;
    bottom: -5px;
    left: 0; */

    /* .desth4{
  font-family: 'Poppins', sans-serif;
  position: relative;
text-align: left;
}
.desth4::after{
  content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: gray;
    bottom: 50px;
    left: 50;
} */